[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/spotify.sh]
row=0
col=5

[/root/Desktop/get_weather.sh]
row=4
col=0

[/root/Desktop/configst]
row=3
col=0

[/root/Desktop/greenfoot.sh]
row=0
col=7

[/root/Desktop/Test1]
row=1
col=7

[/root/Desktop/discord.sh]
row=0
col=6

[Trash]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

