[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/osboxes]
row=2
col=0

[/usr/local/bin/greenfoot.sh]
row=3
col=0

[/usr/local/bin/spotify.sh]
row=3
col=1

[/usr/local/bin/discord.sh]
row=3
col=2
